
.project {
  background: var(--color-stella-brighter-white);
  color: var(--color-text);
  padding: 24px;
  box-shadow: var(--color-shadow) 0px 5px 4px;
  transition: .25s;
  cursor: pointer;
  margin-bottom: 24px;
}

.project:hover, .project:active, .project:focus-within, .project:focus {
  box-shadow: var(--color-shadow) 0px 8px 8px;
}

.project:active {
  transform: translateY(calc(var(--header-padding) * 0.7));
}

section a { 
  text-decoration: none;
  color: var(--color-text);
}

