
:root {
  --header-height: 72px;
  --header-padding: 16px;

  --color-stella-blue: rgb(55, 140, 255);

  --color-stella-white: rgb(245, 245, 247);
  --color-stella-brighter-white: rgb(255, 255, 255);

  --color-text: rgb(0, 0, 0);
  --color-tinted-text: rgb(66, 66, 66);

  --color-shadow: rgba(0, 0, 0, .1);

  --stella-logo: url('/_common/img/logo_black.svg');

  --max-width: 1200px;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-stella-white: rgb(22, 22, 22);
    --color-stella-brighter-white: rgb(0, 0, 0);

    --color-text: rgb(255, 255, 255);
    --color-tinted-text: rgb(189, 189, 189);

    --color-shadow: rgba(255, 255, 255, .1);

    --stella-logo: url('/_common/img/logo_white.svg');
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Upgrade', sans-serif;
  font-weight: 300;

  background: var(--color-stella-white);
  color: var(--color-text);

}

body {
  max-width: var(--max-width);
  margin: 0 auto;
}

body.fullpage {
  overflow: hidden;
}


header {
  box-sizing: content-box;

  height: var(--header-height);

  position: absolute;
  top: var(--header-padding);
  left: calc(50% + var(--header-padding));

  transform: translateX(calc(-50% - var(--header-padding)));

  max-width: calc(var(--max-width) - calc(var(--header-padding)));
  width: calc(100% - calc(2 * var(--header-padding)));
  background: var(--color-stella-brighter-white);

  z-index: 100;

  transition: .5s;
}

header:focus-within, header:hover {
  box-shadow: var(--color-shadow) 0px 8px 8px;
}

nav > a.logo {
  display: inline-block;
  
  width: calc(var(--header-height) * 1.7);
  height: var(--header-height);
  padding: var(--header-padding);

  background: var(--stella-logo) no-repeat;
  background-size: contain;
  background-clip: content-box;
  background-origin: content-box;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  float: right;
  vertical-align: middle;
}

nav li {
  display: inline-block;
  margin: 0;
  font-size: 1.2rem;
}

nav li a {
  color: var(--color-text);
  text-decoration: none;
  height: var(--header-height);
  line-height: calc(var(--header-height) / 2);
  display: inline-block;

  transition: .2s;
  padding: var(--header-padding);
}

nav li a:hover {
  background: var(--color-stella-blue);
  color: #FFF;
}

main section {
  margin: 1rem;
}

main section:first-child:not(.fullpage) {
  margin-top: calc(calc(var(--header-height) * 1.7) + calc(var(--header-padding) * 2));
}

main section.fullpage h1 {
  font-size: 7vw;
  margin: 0;

  animation: slidein .5s ease-out;
}

main section.fullpage p {
  font-size: 3vw;
  animation: slidein .5s ease-out;
}


@media screen and (min-width: 1000px) {
  main section.fullpage h1 {
    font-size: 70px;
    margin: 0;
  }

  main section.fullpage p {
    font-size: 30px;
  }
}

@media screen and (max-width: 375px) {
  nav li {
    font-size: 1rem;
  }
}

br.mobile-break {
  display: none;
}

footer {
  font-size: .9em;
  color: var(--color-tinted-text);

  padding: var(--header-padding);
}

footer.at-end {
  position: sticky;
  bottom: 0;
}

footer a.associates {
  margin-right: 1em;
}


@media screen and (max-width: 500px) {
  br.mobile-break {
    display: block;
  }

  main section.fullpage h1 {
    font-size: 10vw;
  }

  main section.fullpage p {
    font-size: 1rem;
  }

  footer {
    font-size: .85rem;
  }
}

section.fullpage {
  height: 100vh;
  position: relative;
  padding: 1rem;
}

section.fullpage article {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.highlight {
  color: var(--color-stella-blue);
  text-decoration: underline;
}

@keyframes slidein {
  from { opacity: 0; transform: translateY(2em); }
  to { opacity: 1; transform: translateY(0); }
}

a {
  color: var(--color-stella-blue);
  text-decoration: none;
  opacity: .8;
  transition: .2s;
}

a:hover {
  opacity: 1;
}

